/* en vrac :
  auto  
 height flex  none  

*/ 
* {
    /* change le box model */
    box-sizing: border-box;
    }


    img {
       height: 100% ;
        max-width: auto;
      
    }
    .carrousel_parent-ecrans {
      /* aligne horizontalement les enfants */
      display: flex;
      /* largeur du parent */
      width: 100%;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
    
    }
    .carrousel_ecran {
      /* largeur du parent pour chaque enfant */
      width: 100%;
      /* permet de garder toute la largeur du parent
       */
       scroll-snap-align: start;
    }
    .carrousel_ecran figure {
      margin: 0;
      scroll-snap-align: start;
    }
